* {
    margin: 0;
    border: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --mainBackgroundColor: #BDFEB6;

    --boxesColor: #48BF53;
}


/* top bar css */

#main_div {
    width: 370px;
    height: 700px;

    position: relative;
    left: 4px;
}

a {
    text-decoration: none;
}

#toPairUp_div {
    width: 100%;
    height: 100px;
    margin-top: 10px;
    background-color: var(--boxesColor);
    color: white;
    border-width: 3px;
    border-radius: 15px;
    border-style: solid;
    border-color: white;
}

#toPairUp_div h2 {
    margin-top: 30px;
    width: 100%;
    font-size: xx-large;
    text-align: center;
}

#mainMeetSettings_div {
    margin-top: 40px;
    width: 100%;
    height: 1000px;
    background-color: var(--boxesColor);
    color: white;
    border-width: 3px;
    border-radius: 15px;
    border-style: solid;
    border-color: white;
}

#titleDiv {
    width: 100%;
    height: 40px;
    background-color: #4EEF8A;
}

#titleDiv h2 {
    margin-top: 20px;
    width: 100%;
    font-size: xx-large;
    text-align: center;
}

#settings {
    margin-top: 10px;
    width: 100%;
    height: 300px;
    background-color: #4EEF8A;

}

input {
    color: white;
    background-color: #4EEF8A;
    width: 90%;
    height: 70px;
    margin-top: 10px;
    margin-left: 5%;
    font-size: x-large;
    border-width: 3px;
    border-radius: 15px;
    border-style: solid;
    border-color: white;
}