* {
    margin: 0;
    border: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --mainBackgroundColor: #BDFEB6;

    --boxesColor: #48BF53;
}

body {
    background-color: var(--mainBackgroundColor);
}

/* top bar css */
#topBar_div {
    margin-top: 30px;
    margin-bottom: 20px;

    width: 370px;
    height: 90px;
    position: relative;
}

.topBarBoxStyle {
    background-color: var(--boxesColor);
    width: 179px;
    height: 100%;
    border-style: solid;
    border-width: 3px;
    border-color: black;
    border-radius: 10px;
    position: absolute;
    padding: 10px 20px 20px 10px;
}

#topBarName {
    left: 4px
}

#topBarName a {
    color: white;
    text-decoration: none;
    font-size: x-large;

}

#topBarIcons {
    left: 187px;
    padding: 0;
}

.icons {
    background-color: black;
    border-radius: 20px;
    width: 45px;
    height: 50px;
    position: absolute;
    top: 18px
}

#accountIcon {
    left: 6px;
}

#aboutIcon {
    left: 64px;
}

#settingsIcon {
    left: 122px;
}